{% assign publications = site.data.publications[page.publications] %}
<ul>
{% for publication in publications %}
  <li>
    <a href="{% if publication.external == true %}{{ publication.href }}{% else %}{{ publication.href | relative_url }}{% endif %}" class="bold">{{ publication.title }}</a>
    {% if publication.author or publication.pub_date %}
    <ul class="usa-unstyled-list h5">
      {% if publication.author %}<li><strong>Author:</strong> {{ publication.author }}</li>{% endif %}
      {% if publication.pub_date %}<li><strong>Published:</strong> {{ publication.pub_date }}</li>{% endif %}
    </ul>
    {% endif %}
    {% if publication.description %}<p class="h5">{{ publication.description }}</p>{% endif %}
  </li>
{% endfor %}
</ul>
