<footer class="usa-footer" role="contentinfo">
  {% if page.url != '/' or page.permalink != '/' %}
  <div class="usa-footer-primary-section usa-section bg-tan">
    <div class="usa-grid">
      <h2>Subscribe to our mailing list</h2>
      <div class="usa-width-one-whole lg-flex items-center">
        <p class="mb2 lg-mb0 lg-mr2">Learn about upcoming events related to FAIR Digital Objects.</p>
        <a class="usa-button usa-button-primary m0 nowrap" href="https://faird.org/">Subscribe</a>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="usa-footer-secondary_section usa-section bg-tan-dark">
    <div class="usa-grid">
      <div class="usa-width-one-half h4">
        <p>
          The <a href="https://github.com/{{ site.github.organization }}/{{ site.github.repository }}/edit/{{ site.github.default_branch }}/{{ page.path }}"><i class="icon icon-github mr1" aria-hidden="true"></i>source code</a> of this site.
        </p>
      </div>
      <div class="usa-width-one-fourth md-mb3">
        <h4>Related links</h4>
        <ul class="usa-unstyled-list h5">
          <li><a href="https://www.rd-alliance.org/group/data-fabric-ig.html">RDA Data Fabric IG</a></li>
          <li><a href="https://www.go-fair.org/">GO FAIR</a></li>
        </ul>
      </div>
      <div class="usa-width-one-fourth">
        <h4>Contact us</h4>
        <ul class="usa-unstyled-list h5">
          <li><a href="{{ site.twitter }}"><i class="icon icon-twitter mr1" aria-hidden="true"></i>Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
